:root {
  --mobile: 37.5rem;
  /* Primary */
  --dark-cyan: hsl(185, 75%, 39%);
  --dark-blue: hsl(229, 23%, 23%);
  --grayish-blue: hsl(227, 10%, 46%);
  /* Neutral */
  --dark-gray: hsl(0, 0%, 59%);
  
  --primary-fz: 1.8rem;
  --primary-f: 'Kumbh Sans', sans-serif;
  --primary-fw-400: 400; 
  --primary-fw-700: 700; 
}