.section-1 * {
  /* border: 1px solid; */
}
.section-1 {
  width: 100%;
  height: auto;
  padding: 5rem 0;
}
.section-1 .grid-1 {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 5rem;
}
.section-1 .container-1 {
  max-width: 55rem;
  text-align: center;
}
.section-1 .container-1 .thin-heading {
  font-size: 2.5rem;
  font-weight: var(--primary-fw-200);
}
.section-1 .container-1 .heading {
  font-size: 2.5rem;
  font-weight: var(--primary-fw-600);
  margin-bottom: 1rem;
}
.section-1 .container-1 .body {
  color: var(--grayish-blue);
  line-height: 1.5em;
}
.section-1 .card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.section-1 .card-wrapper .card {
  overflow: hidden;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem hsla(234, 12%, 34%, 0.15);
}
.section-1 .card-wrapper .card-1 {
  border-top: 0.5rem solid var(--cyan);
}
.section-1 .card-wrapper .card-2 {
  border-top: 0.5rem solid var(--red);
}
.section-1 .card-wrapper .card-3 {
  border-top: 0.5rem solid var(--orange);
}
.section-1 .card-wrapper .card-4 {
  border-top: 0.5rem solid var(--blue);
}
.section-1 .card-wrapper .card .heading {
  font-size: 1.8rem;
  font-weight: var(--primary-fw-600);
  margin-bottom: 0.5rem;
}
.section-1 .card-wrapper .card .body {
  font-size: 1.2rem;
  color: var(--grayish-blue);
  line-height: 1.8em;
  padding-right: 4rem;
  margin-bottom: 2rem;
}
.section-1 .card-wrapper .card .image {
  float: right;
}
.section-1 .card-wrapper .card .image img {
  display: block;
}
.section-1 .card-wrapper .card-1,
.section-1 .card-wrapper .card-4 {
  flex: 1 1 15%;
  width: 33%;
}
.section-1 .card-wrapper .wrapper {
  flex: 1 1 15%;
  width: 33%;
}
.section-1 .card-wrapper .wrapper .card-2 {
  margin-bottom: 3rem;
}
@media (max-width: 1000px) {
  .section-1 .grid-1 {
    width: 96%;
  }
}
@media (max-width: 600px) {
  .section-1 .card-wrapper {
    flex-direction: column;
  }
  .section-1 .card-wrapper .card-1,
  .section-1 .card-wrapper .card-4 {
    flex: 1 1 50%;
    width: 100%;
  }
  .section-1 .card-wrapper .wrapper {
    flex: 1 1 50%;
    width: 100%;
  }
}