:root {
  --mobile: 37.5rem;
  /* Primary */
  --violet: hsl(263, 55%, 52%);
  --dark-grayish-blue: hsl(217, 19%, 35%);
  --dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  /* Neutral */
  --gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  
  --primary-fz: 1.3rem;

  --primary-f: 'Barlow Semi Condensed', sans-serif;
  --primary-fw-500: 500;
  --primary-fw-600: 600;
}