.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.icon::after {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}