/* .section-8 {
  border: 1px solid skyblue;
}
.section-8 * {
  border: 1px solid skyblue;
} */
.section-8 {
  width: 100%;
  height: auto;
  padding: 0 5rem;
  margin-top: 25rem;
}
.section-8 .grid-1 {
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.section-8 .heading {
  margin-bottom: 3rem;
  text-align: center;
}
.section-8 .button {
  width: fit-content;
  margin: 0 auto;
  padding: 0 5rem;
  line-height: 5rem;
  font-weight: var(--primary-fw-600);
  background-color: var(--pink);
  color: var(--white);
  border-radius: 10rem;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
}