:root {
  --mobile: 37.5rem;
  /* Primary */
  --dark-blue-mbg: hsl(233, 47%, 7%);
  --dark-blue-cbg: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --white-60: hsla(0, 0%, 100%, 0.6);
  --white-75: hsla(0, 0%, 100%, 0.75);
  
  --primary-fz: 1.5rem;

  --primary-f: 'Lexend Deca', sans-serif;
  --primary-fw-400: 400;

  --secondary-f: 'Inter', sans-serif;
  --secondary-fw-400: 400; 
  --secondary-fw-700: 700; 
}