.section-1 {
  width: 100%;
  height: 100vh;
  background-image: url('../../images/bg-desktop.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  background-color: var(--very-dark-blue);
}
.section-1 .grid-1 {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.section-1 .wrapper {
  min-width: 80rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 3rem;
}
.section-1 .container {
  padding: 3rem;
  background-color: var(--dark-blue);
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.section-1 .container-1 {
  flex: 1 1 30%;
  width: 30%;
  border-radius: 1rem 10rem 1rem 1rem;
}
.section-1 .container-1 .logo {
  margin-bottom: 3rem;
}
.section-1 .container-1 .logo img {
  display: block;
}
.section-1 .container-1 .upload {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.section-1 .container-1 .upload .icon {
  width: 4rem;
  height: 4rem;
  position: relative;
  background-color: var(--very-dark-blue);
}
.section-1 .container-1 .upload .icon img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section-1 .container-2 {
  flex: 1 1 60%;
  width: 60%;
}
.section-1 .container-2 .text {
  margin-bottom: 1.5rem;
}
.section-1 .container-2 .text span {
  font-weight: var(--primary-fw-700);
}
.section-1 .container-2 .bar {
  height: 2.5rem;
  padding: 0.3rem;
  margin-bottom: 0.5rem;
  background-color: var(--very-dark-blue);
  border-radius: 10rem;
  position: relative;
}
.section-1 .container-2 .bar .gb-left {
  position: absolute;
  display: block;
  right: 0;
  bottom: 6rem;
  padding: 1rem 2rem;
  background-color: var(--white);
  color: var(--very-dark-blue);
  font-size: 3.5rem;
  font-weight: var(--primary-fw-700);
  border-radius: 1rem;
}
.section-1 .container-2 .bar .gb-left::after {
  content: '';
  width: 0;
  height: 0;
  display:block;
  position: absolute;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1rem solid var(--white);
  right: 1rem;
  top: 100%;
}
.section-1 .container-2 .bar .gb-left span {
  color: var(--grayish-blue);
}
.section-1 .container-2 .colored-bar {
  width: 80%;
  height: 100%;
  padding: 0.3rem;
  overflow: hidden;
  background: var(--gradient);
  border-radius: 10rem;
}
.section-1 .container-2 .circle {
  height: 100%;
  width: 1.3rem;
  background-color: var(--white);
  border-radius: 10rem;
  float: right;
}
.section-1 .container-2 .bar-text {
  display: flex;
  justify-content: space-between;
  font-weight: var(--primary-fw-700);
}
.section-1 .container-2 .bar-text .start,
.section-1 .container-2 .bar-text .end {
  font-size: 1.2rem;
}
@media (max-width: 900px) {
  .section-1 .wrapper {
    min-width: 65rem;
  }
}
@media (max-width: 700px) {
  .section-1 .grid-1 {
    width: 90%;
  }
  .section-1 .wrapper {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-1 .container {
    width: 100%;
  }
  .section-1 .container-2 .bar .gb-left {
    right: 50%;
    bottom: -8rem;
    transform: translate(50%);
  }
  .section-1 .container-2 .bar .gb-left::after {
    display: none;
  }
}